@import url("./root.css");
@import url("./header.css");
@import url("./elements.css");
@import url("./actions.css");
@import url("./progress.css");
@import url("./page/license.css");
@import url("./page/advanced.css");
@import url("./page/connect.css");

div.fts-content {
  background-image: url("../../../assets/bg/img24.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  gap: 20px;
}

div.fts-content *,
div.fts-content::before,
div.fts-content::after {
  transition: all 0.3s, color 0.1s;
}

div.fts-content::after {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--content-after-bg);
}

div.fts-content.show {
  pointer-events: initial !important;
  opacity: 1 !important;
  visibility: visible !important;
}

div.state-renderer.fts {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.fts-content > div {
  width: 560px;
  box-shadow: var(--content-shadow);
  background-color: var(--bg);
  color: var(--fg);
  border: var(--content-border);
  border-radius: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 13px;
}

div.fts-content div.content div.state-renderer {
  transition: all 0.3s, padding 0s;
}

div.fts-content > div.content {
  height: 400px;
  z-index: 1000;
}

div.fts-content > div.content > div.state-renderer > div[class*="content"] {
  height: 100%;
}
